
.parent-most {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #b1f7f7; 
    color: white; 
  }
  
  .parent-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px; 
    margin-top: 5vh;
  }
  
  input{
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    outline: none;
    text-align: right;
    background-color: #02010f; 
    color: white;
   
  }
  
.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
}
  
Button{
    height: 10vh;
    width: 5vw;
  }
#in{
  position: relative;
  top: 58.9px;
  width: 242px;
}
#int{
  position: relative;
  top:70px;
  width: 242px;

}
#cal{
  color:black;

}
  